<div id="side-panel">
  <h3>Subjects</h3>
  <ul style="list-style:none;padding:0;">
    <li><a href="{{ '/' | relative_url }}">🏠 Home</a></li>
    <li><a href="{{ '/Automation_and_automation_technology/' | relative_url }}">Automation & Automation Technology</a></li>
    <li><a href="{{ '/Cybernetics_and_Informatics/' | relative_url }}">Cybernetics & Informatics</a></li>
    <li><a href="{{ '/Electrotechnics_and_electrical_engineering/' | relative_url }}">Electrotechnics & Electrical Engineering</a></li>
    <li><a href="{{ '/Lekárska_elektronika/' | relative_url }}">Lekárska elektronika</a></li>
    <li><a href="{{ '/Logické_riadiace_systémy/' | relative_url }}">Logické riadiace systémy</a></li>
    <li><a href="{{ '/Mechatronics_-_Microprocessors/' | relative_url }}">Mechatronics - Microprocessors</a></li>
    <li><a href="{{ '/Základy_programovania_-_Programming_Technics/' | relative_url }}">Základy programovania</a></li>
    <li><a href="{{ '/Digitalizácia_Priemyslu/' | relative_url }}">Digitalizácia Priemyslu</a></li>
    <li><a href="{{ '/Prostriedky_Priemyselnej_Automatizácie/' | relative_url }}">Prostiedky Priemyselnej Automatizacie</a></li>
    <li><a href="{{ '/Bezpečnostné_Systémy/' | relative_url }}">Bezpečnostné Systémy</a></li>
    <li><a href="{{ '/Lekárska_elektronika/' | relative_url }}">Lekárska elektronika</a></li>
  </ul>
</div>
